@if(isloading){
    <div class="loader-container">
        <img class="loader" src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoic3VwZXJjZWxsXC9maWxlXC80RzU3Rlo3THNoWjZ6bmdLZ3NROC5naWYifQ:supercell:78mgzWFZviaTdC5Wt8n7zUmMjVa8WdYsndBX78LG4Xg?width=800" alt="loader">
        <div class="loader-text py-2">loading...</div>
    </div>
}
@else{
<div class="bgs py-3 px-4">
    <h1>{{ this.player?.name }}</h1>
    <p><strong>Tag:</strong> {{ this.player?.tag }}</p>
    <p><strong>Trophies:</strong> {{ this.player?.trophies }}</p>
    <div class="row py-3">
      <div class="col">
        <h2 class="mb-4">Victories</h2>
        <p><strong>3vs3 Victories:</strong> {{ this.victory }}</p>
        <p><strong>Duo Victories:</strong> {{ this.player?.duoVictories }}</p>
        <p><strong>Solo Victories:</strong> {{ this.player?.soloVictories }}</p>
      </div>
      <div class="col">
        <h2 class="mb-4">Experience</h2>
        <p><strong>Experience Level:</strong> {{ this.player?.expLevel }}</p>
        <p><strong>Experience Points:</strong> {{ this.player?.expPoints }}</p>
        <p><strong>Highest Trophies:</strong> {{ this.player?.highestTrophies }}</p>
        <p><strong>Highest Power Play Points:</strong> {{ this.player?.highestPowerPlayPoints }}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="list table-responsive">
        <table class="table table-dark table-sm table-bordered table-striped">
            <thead>
              <tr>
                <th>Brawler</th>
                <th>Power Level</th>
                <th>Rank</th>
                <th>Trophies</th>
                <th>Highest Trophies</th>
              </tr>
            </thead>
            <tbody>
              @for(brawler of this.player?.brawlers;track brawler){
                <tr>
                  <td>{{ brawler.name }}</td>
                  <td>{{ brawler.power }}</td>
                  <td>{{ brawler.rank }}</td>
                  <td>{{ brawler.trophies }}</td>
                  <td>{{ brawler.highestTrophies }}</td>
                </tr>
              }
            </tbody>
          </table>
    </div>
  </div>
}
