.bgs{
    font-family: "Protest Strike", sans-serif;    color: white;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoic3VwZXJjZWxsXC9maWxlXC9OenJVbkdrZTlDMkRBa01kRkVNcy5wbmcifQ:supercell:0bdICRTZDd3wvz3Jzh_8baMMrIsWzEbwrBRgYFPJWEQ?width=800');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    letter-spacing: 0.5px;
    /* text-shadow: 4px 4px 4px #000000; */
}

.loader-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-image: url('https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoic3VwZXJjZWxsXC9maWxlXC9vRVBUZlBiNXB0V1Q1S3hDcGVnNy5qcGcifQ:supercell:tcfLS1SFCAvUJUnm4bZpbWAcKf8JJeMF2NvvjjrTgVw?width=800');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.loader-text {
    color: white;
    font-family: "Protest Strike", sans-serif;    color: white;
    text-shadow: 4px 4px 4px #000000;
}

.list{
    font-family: "Protest Strike", sans-serif;    color: white;
    letter-spacing: 0.5px;
}
